.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(247, 23, 154);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: rgb(89, 23, 89);
}

.shape {
  border-radius: 50%;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }
.Signup {
  background-color: #87CEEB;
  justify-content: center;
  padding: 20px;
  background: linear-gradient();
  color: aqua;
  margin:10px;
  }
.Signup button {
  background-color: #87CEEB;
  color: #fff;
  cursor: pointer;

}
.Signin {
  background-color: #87CEEB;
}

.button {
  box-shadow: 0 0 5px cornflowerblue,
  0 0 25px cornflowerblue;
}
.button:hover {
  box-shadow: 0 0 5px cornflowerblue,
  0 0 25px cornflowerblue, 0 0 50px cornflowerblue,
  0 0 100px cornflowerblue,  0 0 200px;

}
.form{
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(40%);
  flex-direction: column;
  display: flex;
  gap: 5px;

}

.input{
  background-color:rgba(255,255,255,0.3) ;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  margin-bottom: 20px;
  color: aliceblue;
  
}
.nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

}
.card-body {
  background-color: cornflowerblue;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: o 4px 8px rgba(81, 2, 55, 0.1);

}
.Footer{
  background-color: rgb(90, 12, 80);
  font-size: smaller;
  
}
.Getproducts{
  height: 300;
  width: 500;
  background-color: #61dafb;
}
.Navbar{
  background-color: bisque;
}
/* From Uiverse.io by Hashir-Ahmed123 */ 
@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.lava-lamp {
  position: relative;
  width: 50px;
  height: 100px;
  background: #000;
  border-radius: 25px;
  overflow: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #e64980, #ff8787);
  border-radius: 50%;
  left: 15px;
  animation: drop 5s ease-in-out infinite;
}
.bubble1 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #82c91e, #3bc9db);
  border-radius: 50%;
  left: 1px;
  animation: drop 3s ease-in-out infinite;
}
.bubble2 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #7950f2, #f783ac);
  border-radius: 50%;
  left: 30px;
  animation: drop 4s ease-in-out infinite;
}
.bubble3 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #4481eb, #04befe);
  border-radius: 50%;
  left: 20px;
  animation: drop 6s ease-in-out infinite;
}
